@font-face {
	font-family: Gilroy-Bold;
	src: url("/fonts/Gilroy-Bold.ttf");
}

@font-face {
	font-family: Gilroy-Medium;
	src: url("/fonts/Gilroy-Medium.ttf");
}

/* body */

a {
	font-family: 'Gilroy-Bold';
	text-decoration: none;
	font-size: 18px;
	line-height: 22px;
	color: #828282;
}

a:hover {
	outline: none;
	text-decoration: none;
}

.container {
	margin: 0 250px 0 250px;
}

.active {
	color: #000;
}

/* header */

.list {
	display: flex;
	justify-content: space-between;
	padding: 0px;
	border-bottom: 2px solid #828282;
	list-style: none;

	vertical-align: middle;
	align-items: center;

}

.list_item {
	text-align: center;
	vertical-align: middle;
	margin-top: 25px;
	margin-bottom: 29px;
}

/* block 1 */

.block1_text {
	display: flex;
	justify-content: space-between;
	vertical-align: middle;
	align-items: flex-end;
	margin-bottom: 50px;
	margin-top: 40px;
}

.block1_img img {
	width: 100%;
}

.name {
	font-family: 'Gilroy-Bold';
	font-size: 47px;
	line-height: 57px;
	color: #070707;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	-webkit-text-stroke: .02em rgba(0, 0, 0);
}

.info {
	font-family: 'Gilroy-Medium';
	font-size: 18px;
	line-height: 22px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	-webkit-text-stroke: .1em rgba(0, 0, 0);
}

.language {
	padding-top: 80%;
	font-family: 'Gilroy-Bold';
	font-size: 20px;
	line-height: 20px;
}

.language .eng {
	color: #000;
}

.block1_name {
	padding-bottom: 0.5%;
}

.block1_info {
	padding-bottom: 1%;
}

.block1_language {
	transform: rotate(-90deg);
	padding-left: 2%;
}

.container_img {
	margin-bottom: 105px;
}

/* block 2 */

.block_2 {
	background: #F6F6F6;
}

.block_2 .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.block2_mainText {
	margin-top: 120px;
}

.block2_mainText span {
	font-family: 'Gilroy-Bold';
	font-size: 34px;
	line-height: 42px;
	text-align: center;

	color: #070707;
}

.block2_subText {
	margin: 22px 0 107px 0;
	-webkit-text-stroke: .01em rgba(0, 0, 0);
}

.block2_subText p {
	font-family: 'Gilroy-Medium';
	font-size: 18px;
	line-height: 22px;
	text-align: center;

	color: #070707;
}

/* block 3 */




/* footer */

.footer .container .main_text {
	display: flex;
	justify-content: center;
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	margin-bottom: 20px;
}

.footer .container .description_text {
	display: flex;
	justify-content: center;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
}

.messageButton {
	margin-top: 30px;
	width: 180.5px;
	height: 42px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	background: #000;
	text-align: center;
	color: white;
	font-size: 18px;
	line-height: 22px;
}

.description span {
	font-family: 'Gilroy-Medium';
	display: flex;
	justify-content: center;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #828282;

}

.icons {
	display: flex;
	flex-wrap: wrap;
}

.icons img {}